*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Project exclude paths
/core/data/build/
/core/data/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/core/domain/build/
/core/domain/build/classes/kotlin/main/
/core/domain/build/classes/kotlin/test/
/core/ui/build/
/feature/cards/build/
/feature/cards/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/feature/challenge/build/
/feature/dashboard/build/
/feature/decks/build/
/feature/decks/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/feature/importexport/build/
/feature/session/build/
/feature/settings/build/
/feature/stats/build/