# Build
**/build/
*.class
*.jar

# Gradle
.gradle/
gradle/wrapper/gradle-wrapper.jar

# Android Studio / IntelliJ
.idea/
*.iml
local.properties

# Fichiers générés
**/generated/
**/.transforms/

# Rapports de tests (générés automatiquement)
**/reports/

# OS
.DS_Store
Thumbs.db
